.waveContainer {
    position: relative;
    background: #191919;
    height: 36vh;
    z-index: -1;
    width: 100vw;
    top: 5vh;
    padding-top: 10vh;
    
}
.footerContainer {
    line-height: 1;
    min-height: 30vh;
    border-top: 1px solid #535252;
    background: #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
footer {

  
    min-width: 100%;
    background:#161616;
    position: relative;
    z-index: 1;
    overflow: hidden;
    grid-column: span 5;
    grid-row-start: footer;
    grid-row-end: footer;
}
.footerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vh;
}
.leftSideFooter {
    position: relative;
    top: 3vh;
    left: 4vw;
}
.leftSideFooter > div {
    margin-left: 1vw;
    min-width: 15vw;
}
.leftSideFooter > div > h4 {
    margin-bottom: 7.5vh;
    color: white;
    text-shadow: 1px 1px black;
    font-family: sans-serif, Arial, Helvetica;
}
.rightSideFooter > h4 {
    color: white;
    text-shadow: 1px 1px black;
    font-family: sans-serif, Arial, Helvetica;
    margin: 2vh 0;
    font-size: .8rem;
    font-weight: 100;
}
.rightSideFooter {
    position: relative;

    right: 6vw;
    
    display: flex;
    flex-direction: column;

    
}
.rightSideFooter > ul {
    width: 50vw;
    display: flex;
    flex-direction: row;
    display: inline;
}
.rightSideFooter > ul > li {
    display: inline;
}
.flaticon {
    min-width: 35vw;
    position: relative;
    margin-top: 7.5vh;
    bottom: 6vh;
    right: 6vw;
}
.flaticon, .flaticon > div > a {
   color: white;
   font-size: .7rem;
}
.footerBottom {
    text-align: center;
    font-size: 1.1rem;
}
.rightSideFooter >  ul {
    list-style-type: none;
    color: white;
    text-shadow: 1px 1px black;
    margin: 2vh auto 0vh auto;
    padding: 0;
}
.rightSideFooter > ul > li > a {
   color: white;
   margin-right: 1.5vw;
}

.copyright { 
    background: #202020;
    border-top: 1px solid #3a3939;
    min-height: 6vh;
}
.footerBottom > div > h4 {
    margin-top: 2vh;
    color: white;
    font-size: .8rem;
    font-weight: 350; 
}
@media only screen and (min-width: 320px) and (max-width: 410px) {
    .container {
        top: 32vh;
    }
   .leftSideFooter {
       top: 0vh;
   }
   .rightSideFooter {
     max-width: 30vw;
   }
   .flaticon {
       max-width: 30vw;
   }
   .footerBottom > ul > li > a {
       font-size: .9rem;
   } 
   .footerBottom {
       top: 3vh;
   }
   .footerBottom > div > h4 {
       margin-top: 1vh;
   }
}