.secondSection {
    grid-column: 1/-1;
    grid-row-start: second;
    grid-row-end: third;
    padding-top: 5vh;
   padding-bottom: 5vh;
   min-height: 30vh;
   display: flex;
   flex-direction: column;
   align-content: space-between;
}
.benefitWrapper > .firstGraphic {
   position: relative;
   top: 1vh;
 
}
.benefitWrapper > img {
   margin: 0 auto;
}
.benefitWrapper {

   margin: 0 2vw 5vh 2vw;
   padding-top: 2vh;
   text-align: center;
 
   min-height: 60vh;
   border: 1px solid rgb(70, 69, 69);
   border-radius: 5%;
   background: rgb(42, 42, 42);
}
.FirstTitle, .SecondTitle, .ThirdTitle {
   font-size: 1.4rem;
   margin: 3vh auto;
   position: relative;
   bottom: 0vh;
   color: #fafafa;
}
.benefitWrapper > p {
    color: #fafafa;
    margin: 8vh 8vw 1vh 8vw;
    font-size: 1.1rem;
    position: relative;
    bottom: 3.5vh;    
}
.benefitWrapper > p > span:nth-child(1) {
   font-weight: bold;
   font-size: 1.05rem;
}
.benefitWrapper > p > span:nth-child(2) {
   color: #3171b1;
}
@media only screen and (min-width: 320px) and (max-width: 410px) {
.secondSection {
    padding-bottom: 8vh;
}
.benefitWrapper {
    min-width: 70vw;
}   
.benefitWrapper > img {
    min-width: 12.5vw;
}
}
@media only screen and (min-width:668px) {
    .secondSection {
        grid-column-start:left ;
        grid-column-end: right-gutter ;
    }
}
@media only screen and (min-width: 860px) {

.secondSection > span {
    margin: 0 auto;
}
}
